.box{
    box-sizing: border-box;
    background-color: #1D212B;
    margin: 4px;
    width: 100%;
}

.img{
    width: 100%;
    height: 100%;

}

table{
    border-color: white;
    border: 5px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 50px 20px;
    border-bottom: 10px solid white;
}

h1{
    color: white;
    font-size: 40px;
}

h2{
    color: white;
    font-size: 30px;
}

h3{
    color: white;
    font-size: 20px;
    text-align: center;
}
