body{
    margin: 0;
    padding: 0;

}

.Sidebar{
    background: rgb(87, 81, 81);
    width: 300px;
    height: 750px;
    margin-bottom: 10px;
    border-color: black;
}

.Sidebar h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: darkgray;
    padding: 20px;
}

.Sidebar ul li{
    margin: 25px 0;

}

.Sidebar ul li a{
    padding: 0 30px;
    text-decoration: none;
    color: white;
}
